<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Microsoft.CosmosDB.Endpoint" value="https://testazurecosmosdb.documents.azure.com:443/"/>
    <add key="Microsoft.CosmosDB.Key" value="<Key>"/>
    <add key="Microsoft.CosmosDB.Database.Id" value="ToDoList"/>
    <add key="Microsoft.CosmosDB.Database.Collection.Id" value="Items"/>
  </appSettings>
</configuration>