@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <h1>Azure Redis Cache</h1>
        <p class="lead">Implemetation of Azure Redis Cache for Session</p>
    </div>

    <div class="row">
        <div class="col-md-2">
            <h3>No of Views:@ViewBag.NoOfView</h3>
        </div>
    </div>

